body
{
    /* background: #24353f;  */
    font-family:  'Titillium Web', sans-serif ;
}
input:focus
{
    box-shadow: 0 0 0 0 transparent !important;
}
input , #signupBtn , #loginBtn
{
    width: 88% !important;
}
h1 {
    color: #17a2b8;
}
.logInPage p button:focus , .signUpPage p button:focus
{
    box-shadow: none;
}